/* Regole generali */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul, ol menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
}

.container-small {
    max-width: 775px;
    margin: 0px auto;
}

/* Header */
.main-header {
    background-color: #255EE9;
    color: white;
    padding: 20px 0px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Lista azioni */
.actions ul {
    display: flex;
    gap: 30px;
}

/* Bottone bianco */
.white {
    color: black;
    background-color: white;
    border-radius: 999px;
    padding: 10px 15px;
}

/* Bottone nero */
.black {
    color: white;
    background-color: black;
    border-radius: 999px;
    padding: 10px 15px;
}

/* Bottone viola */
.violet {
    color: white;
    background-color: #7289DA;
    border-radius: 999px;
    padding: 10px 15px;
}

/* Hero */
.hero {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center bottom;
    color: white;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 125px;
}

/* Descrizione hero */
.hero-description {
    display: flex;
    flex-direction: column;
}

/* Titolo nell'hero */
.hero__title {
    padding-bottom: 40px;
}

/* Titolo hero */
.hero__title h1 {
    font-size: 48px;
}

/* Testo nell'hero */
.hero__text {
    padding-bottom: 30px;
}

/* Testo hero */
.hero__text p {
    font-size: 18px;
}

/* Bottone hero */
.hero__buttons a:first-child {
    margin-right: 10px;
}

/* Sezione con immagine e testo di fianco */
.img-text {
    padding: 130px 0px;
}

/* Riga */
.row {
    display: flex;
}

/* Colonna 60% */
.col-60 {
    flex-basis: 60%;
}

/* Immagine nella colonna */
.col-60 img {
    width: 100%;
    height: 100%;
}

/* Colonna 40% */
.col-40 {
    flex-basis: 40%;
}

/* Sottotitolo colonna 40% */
.col-40 h2 {
    font-size: 48px;
    padding-bottom: 30px;
}

/* Paragrafo colonna 40% */
.col-40 p {
    font-size: 18px;
}

/* Sfondo per alternare le sezioni img-text */
.grey {
    background-color: #F6F6F6;
}

/* Flex direction per alternare le sezioni img-text */
.reverse {
    flex-direction: row-reverse;
}

/* Flex direction per alternare le sezioni img-text */
.column {
    flex-direction: column;
    text-align: center;
}

/* Sottotitolo colonna */
.column .col h2 {
    font-size: 48px;
}

/* Paragrafo colonna */
.column .col p {
    font-size: 18px;
}

/* Sottotitolo start */
.start h3 {
    font-size: 24px;
    padding: 10px 0px;
    margin-bottom: 30px;
    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

/* Footer */
.page-footer {
    background-color: #23272A;
    color: white;
    padding-top: 100px;
    padding-bottom: 50px;
}

/* Righe footer */
.page-footer .row  {
    justify-content: space-between;
}

/* Info footer */
.info {
    padding-bottom: 50px;
}

/* Colonne footer */
.page-footer .col {
    flex-basis: calc( 100% / 5 );
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Liste */
.info__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Sottotitolo footer */
.page-footer h5 {
    font-size: 16px;
    color: #7087D9;
}

/* Titolo informazioni */
.info__title h4 {
    font-size: 24px;
    color: #7087D9;
}

/* Immagine della lingua */
.language img {
    width: 20px;
}

/* Lista dei social */
.social__list {
    display: flex;
    gap: 20px;
}

/* Linea */
.page-footer hr {
    border: 1px solid #7087D9;
}

/* Riga finale */
.bottom {
    padding-top: 10px;
    align-items: center;
}

/* Registrazione */
.sign-up {
    text-align: right;
}